@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #ebe9e9;
}

body {
  font-family: "Raleway", Roboto, sans-serif;
  overscroll-behavior: none;
}
